{% extends "base.html" %}
{% load blog_extras %}

{% block content %}
    <button><a class="new-post-btn" href="{% url 'home' %}">Back to all Posts</a></button>
    <div class="card">
        <h2>{{ post.title }}</h2>
        <h4>By: {{ post.author }}</h4>
        <h5>Last updated: {{ post.updated_on }}</h5>
        <hr>
        {{ post.content|convert_markdown|safe|linebreaks }}
        <br>
        {% if user == post.author %}
            <div class="buttons">
                <button><a class="new-post-btn" href="{% url 'edit_post' post.slug %}">Edit Post</a></button>
                <form action="{% url 'post_delete' post.slug %}" method="POST">
                    {% csrf_token %}
                    <input class="logout-btn delete-btn" type="submit" value="Delete">
                </form>
            </div>   
        {% endif %}
    </div>
{% endblock content %}

{% block side-bar %}
    
{% endblock side-bar %}