* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: 700;
}

p {
	line-height: 1.75em;
}

pre {
	font-size: 1rem;
	background: rgb(35, 194, 120);
	color: black;
	padding-left: 1em;
	padding-bottom: 1em;
	border-radius: 1rem;
	margin-bottom: 1em;
}

body {
	background: rgb(255, 246, 229);
	color: rgb(5, 0, 46);
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Lato', sans-serif;
}

.main-content {
	display: flex;
	margin-bottom: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	flex: 1;
	margin-top: 2em;
}

.side-bar {
	background: rgb(15, 116, 69);
	color: white;
	padding: 1em;
	width: 35ch;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(35, 194, 120);
	padding: 0.75em;
}

.header-title {
	margin-left: 1em;
}

.logout-btn {
	background: rgb(243, 131, 131);
	padding: 0.5em 1.5em;
	border-radius: 0.75em;
}

.logout-btn:hover {
	background: rgb(167, 49, 49);
	color: white;
	cursor: pointer;
}

.new-post-form {
	display: flex;
	flex-direction: column;
	width: 70ch;
	justify-content: center;
}

.new-post-form label {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.new-post-form input {
	margin-bottom: 1.5em;
}

hr {
	background: white;
	color: white;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

ul {
	display: flex;
	gap: 5em;
	margin-right: 5em;
	justify-content: center;
	align-items: center;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(5, 0, 46);
}

.card {
	width: 75ch;
	background: rgb(162, 255, 211);
	padding: 1em;
	border-radius: 1rem;
}

.card-text {
	width: 60ch;
	margin-bottom: 1em;
}

button {
	border: none;
	background: rgb(47, 28, 214);
	padding: 1em 0em;
	color: white;
	border-radius: 1.125rem;
}

button:hover {
	cursor: pointer;
	background: rgb(110, 185, 255);
}

.new-post-btn {
	color: white;
	padding: 1em 3em;
}

.new-post-btn:hover {
	color: black;
}

.new-post-title {
	font-size: 1.25em;
	padding: 0.1em;
}

.new-post-content {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	padding: 0.1em;
	height: 30ch;
}

.submit-btn {
	border: none;
	font-size: 1.1em;
	background: rgb(47, 28, 214);
	padding: 1em 0em;
	color: white;
	border-radius: 1.125rem;
	margin-top: 2em;
	margin-left: 13em;
	margin-right: 13em;
}

.submit-btn:hover {
	cursor: pointer;
	background: rgb(110, 185, 255);
}

footer {
	text-align: right;
	margin-bottom: 1em;
	margin-right: 1em;
}
